{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ intervention.nom }}</td>
            </tr>
            <tr>
                <th>Created_on</th>
                <td>{{ intervention.createdOn ? intervention.createdOn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Finished_on</th>
                <td>{{ intervention.finishedOn ? intervention.finishedOn|date('Y-m-d') : '' }}</td>
            </tr>
              <tr>
                <th>commentaire</th>
                <td>{{ intervention.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_intervention_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}"class="btn btn-primary">edit</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
