{% extends 'base.html.twig' %}
{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
<div>
<button>nouveau</button>
</div>

<ul>
{% for client in clients %}
    <li>{{client.nom}} - {{client.prenom}} -<a href="{{ path('detailClient',{
        'clientid': client.id
        }) }}" >detail</a></li>
{% endfor %}
<li>1 -2 -3 -4 </li>
</ul>
<a href={{ path('newclient') }}>nouveau</a>
{% endblock %}
