{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}
	<h1>Client</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ client.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ client.nom }}</td>
			</tr>
			<tr>
				<th>Prenom</th>
				<td>{{ client.prenom }}</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td>{{ client.phone }}</td>
			</tr>
			<tr>
				<th>ville</th>
				<td>{{ client.ville }}</td>
			</tr>
			<tr>
				<th>mail</th>
				<td>{{ client.mail }}</td>
			</tr>
			<tr>
				<th>interventions</th>
				<td>
					{% for intervention in interventions %}
						{{ intervention.nom }}
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>

	{{ include("intervention/_liste.html.twig") }}

	{% import "buttons.html.twig" as buttons %}
	{{buttons.back(path('app_client_index'))}}
	{# <a href="{{ path('app_client_index') }}" class="btn btn-primary">
				<i class="bi bi-box-arrow-left"></i>
				back to list</a> #}
	{{buttons.edit(path('app_client_edit', {'id': client.id}))}}
	{# <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-primary">edit</a> #}

	{{ include('client/_delete_form.html.twig') }}
{% endblock %}
